@import '../abstracts/variables';
@import '../abstracts/mixins';

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: myfont;
    color: #323232;
    width: 100%;
}
p{
    font-size: 14px;
    line-height: 22px;
}
.shows__banner{
    margin: 0;
    width: 100%;
    height: 100%;
}
.heading{
    font-size: 36px;
    line-height: 44px;
    font-family: myfont-bold;
}
header{
    height: 80px;
    padding: 0px 180px;
    background-color: #323232;
    display: flex;
    align-items: center;
    .active{
        padding-bottom: 27px;
        border-bottom: 5px solid white;
    }
    .navmenu{
        &__list{
            display: flex;
            list-style: none; 
        }
        &__item{
            margin-left: 56px;
            width: 80px;
            // margin-right: 1.5em;   
        }
        &__link{
            color: white;
            text-decoration: none;
            &:hover{
                color: indianred;
                border: none;
            }
        }
    }
}
.hero{
    background-image: url(../assets/hero/photo-1568781269551-3e3baf5ec909.jpg);
    background-size: cover;
    height: 670px;
    display: flex;
    align-items: center;
    padding-left: 180px;
    &__heading{
        font-family: myfont-bold;
        width: 600px;
        font-size: 60px;
        line-height: 68px;
        color: white;
    }
}
.about{
    display: flex;
    flex-flow: column nowrap;
    padding: 48px 180px;
    &__wrapper{
        padding: 0 92px;          
    }
    &__banner{
        width: 896px;
        height: 450px;
        margin: 48px 0;
    }
    &__slogan{
        font-family: myfont-bold;
        font-size: 24px;
        line-height: 32px;
        width: 800px;
        &--author{
            display: inline-block;
            font-family: myfont-demi-bold;
            font-size: 16px;
            line-height: 24px;
            padding-top: 40px;
        }
    }
    &__artists{
        margin-top: 56px;
        font-family: myfont-bold;
        font-size: 24px;
        line-height: 32px;
    }
    &__textarea{
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
    }
    &__text{
        margin-right: 40px;
        width: 420px;
        font-size: 14px;
        line-height: 22px;
        }
}
.gallery{
    padding: 48px 180px 40px 180px;
    background-color: #FAFAFA;
    &__album{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__photo{
        width: 344px;
        height: 193px;
        padding-top: 44px;
        opacity: 0.6;
        &:hover{
            opacity: 1;
            transform: scale(1.1);
        }
    }
}
footer{
    background-color: #323232;
    color: white;
    padding: 48px 180px;
    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__icon{
            margin-left: 32px;
            &--right{
                margin-left: 600px;
                width: 120px;
                height: 24px;   
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .contact{
        padding: 56px 0 40px 0;
        display: flex;
        justify-content: flex-start;
        &__details{
            margin-right: 100px;
        }
        &__person{
            padding-bottom: 24px;
        }
        &__address{
            padding-bottom: 24px;
        }
        &__email{
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
@media (max-width: $tablet-breakpoint) {
    header{
        padding-left: 24px;
    }
    .hero{
        &__heading{
            width: 320px;
        }
    }
    .about{
        padding: 0px;
        margin: 0px;
        &__banner{
            width: 720px;
            height: 362px;
        }
    }
    .gallery{
        background-color: #FAFAFA;
        &__photo{
            width: 224px;
            height: 126px;
        }
    }
    footer{
        display: flex;
        flex-flow: column nowrap;
    }
}
@media (max-width: $mobile-breakpoint) {
    header{
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        .navmenu{
            &__link{
                padding-bottom: 10px;
            }
        }
    }
    .hero{
        &__heading{
            width: 100px;
            font-size: 24px;
            line-height: 32px;
            color: white;
        }
    }
    .about{
        padding: 0px;
        margin: 0px;
        &__banner{
            width: 288px;
            height: 145px;
        }
    }    
    .gallery{
        background-color: #FAFAFA;
        &__photo{
            width: 288px;
            height: 162px;
        }
    }    
    .social{
        display: flex;
        flex-flow: column wrap;
    }
}