@import '../abstracts/variables';

*{
    margin: 0px;
    padding: 0px;
    // border: 1px solid teal;
    
}

body{
    font-family: myfont;
    color: #323232;
    width: 100%;
}
p{
    font-size: 14px;
    line-height: 22px;
}

.link{

}
.heading{
    font-size: 36px;
    line-height: 44px;
    font-family: myfont-bold;
}


header{
    height: 80px;
    padding: 0px 180px;
    background-color: #323232;
    display: flex;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
    }
    .active{
        padding-bottom: 27px;
        border-bottom: 5px solid white;
    }
    .navmenu{
        &__list{
           display: flex;
           list-style: none;           
        }
        &__item{
            margin-left: 56px;
            width: 80px;
            margin-right: 1.5em;
            
        }
        &__link{
            color: white;
            text-decoration: none;
        }

    }

}

main{
    .hero{
        // background-image: url(../assets/hero/micspot.jpg);
        // background-image: url(../assets/hero/matthias-wagner-QrqeusbpFMM-unsplash.jpg);
        background-image: url(../assets/hero/photo-1568781269551-3e3baf5ec909.jpg);
        background-size: cover;
        height: 670px;
        width: 100%;
        // background-position: center;
        &__heading{
            font-family: myfont-bold;
            position: relative;
            width: 600px;
            font-size: 60px;
            line-height: 68px;
            color: white;
            top: 235px;
            left: 200px;
        }
    }
    .about{
        padding: 48px 272px;
        &__heading{
            position: relative;
            right: 90px;
            // border: 1px solid;
            // width: 100%;
            // padding: 48px 180px;
            // font-size: 36px;
            // line-height: 44px;
        }
        &__banner{
            width: 896px;
            height: 450px;
            margin: 48px auto;
        }
        &__slogan{
            font-family: myfont-bold;
            font-size: 24px;
            line-height: 32px;
            width: 800px;
            &--author{
                display: inline-block;
                font-family: myfont-demi-bold;
                font-size: 16px;
                line-height: 24px;
                // border: 2px solid green;
                padding-top: 40px;
            }
        }
        &__artists{
            margin-top: 56px;
            font-family: myfont-bold;
            font-size: 24px;
            line-height: 32px;
        }
        &__textarea{
            margin-top: 32px;
            display: flex;
            justify-content: flex-start;
        }
        &__text{
            margin-right: 40px;
            width: 420px;
            font-size: 14px;
            line-height: 22px;
            }
    }
    .gallery{
        // padding: 40px 180px;
        padding: 48px 180px 40px 180px;
        background-color: #FAFAFA;
        &__heading{

            // padding: 0 180px 64px 180px;
        }
        &__album{
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // align-items: center;
            // padding: 40px 170px;

        }
        &__photo{
            width: 344px;
            height: 193px;
            padding-top: 44px;
            // margin: 12px 24px 12px 0;
        }
    }
}

footer{
    background-color: #323232;
    color: white;
    // display: flex;
    // flex-direction: column;
    padding: 48px 180px;
    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__heading{
            
        }
        &__subnav{

        }
        &__icon{
            margin-left: 32px;
            &--right{
                padding-left: 600px;
                width: 120px;
                height: 24px;
            }
        }
    }
    .contact{
        padding: 56px 0 40px 0;
        display: flex;
        justify-content: flex-start;
        
        &__details{
            margin-right: 100px;
        }
        &__person{
            padding-bottom: 24px;
        }
        &__address{
            padding-bottom: 24px;}
        &__email{}
    }
    .legal{
        &__copyright{}
    }
}