@font-face{
    font-family: 'myfont';
    src: url('../assets/_globalfont/Linotype\ -\ AvenirNextLTPro-Regular.otf');
}
@font-face{
    font-family: myfont-bold;
    src: url('../assets/_globalfont/Linotype\ -\ AvenirNextLTPro-Bold.otf');
}

@font-face{
    font-family: myfont-demi-bold;
    src: url('../assets/_globalfont/Linotype\ -\ AvenirNextLTPro-Demi.otf');
}