@import 'variables';

@mixin desktop {
    @media (max-width: $desktop-breakpoint){
        @content;
    }
}
@mixin tablet {
    @media (max-width: $tablet-breakpoint){
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile-breakpoint){
        @content;
    }
}